<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="stylesheets/style.css">
	<title>New Shit!</title>
</head>
<body>

	<h1>New App To Practice On Fuck Yeah</h1>

{{{body}}}

<script src='javascripts/bundle.js'></script>

</body>
</html>